h1{
	color: darkgreen;
	font-size:60px;
}

h2,h3,h4{
	color: darkgreen;
}

body{
	background: #f4f4f4;
}

.login {
  min-height: 100vh;
}

.bg-image {
/*  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');*/
  background-image: url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1613&q=80');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.bg-card-404 { 
  background:#fff;
}

.bg-image-404{
 background-image: url("https://media.tenor.com/ykSFUGPQkxoAAAAS/recycle-waste.gif");
 background-size: 500px;
 background-repeat: no-repeat;
 background-position: center;
height: 500px;
 }

 .bg-image-500{
 background-image: url("https://media.tenor.com/RV_KrHSUvb0AAAAS/%E0%B8%82%E0%B8%A2%E0%B8%B0-gdh.gif");
 background-size: 500px;
 background-repeat: no-repeat;
 background-position: center;
height: 500px;
 }

 .bg-image-home{
 width: 100%;
 background-repeat: no-repeat;
 background-position: center;
 margin-top: 5%;
 }

/* Features Section */

#features {
  position: relative;
  text-align: center;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #B2D2A4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: darkgreen;
}

#cta {
  padding: 100px;
  text-align: center;
}

.cta-column {
  padding: 3% 2%;
}